@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;

@tailwind components;

@tailwind utilities;

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
